.m_left{
    /* border: 2px solid black; */
    background-color: rgb(200, 202, 204);
    border-radius: 7px;
    width: 40vw;
    margin: 20px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    height: 40vh;
}
.m_item{
    display: flex;

}
.main-con h1{
 margin-left: 20px;
}
.main-con{
    margin-top: 20px;
    margin-bottom: 20px;
}

.m_left form{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    
}
.m_left form input{
    margin: 5px;
    border: none;
    padding: 5px;
    border-radius: 7px;
    border-bottom: 2px solid black;
}
.m_left button{
    margin: 10px;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    background-color: rgb(115, 115, 176);
    color: rgb(232, 216, 216);
}

.m_left button:hover{
    background-color: blue;
    scale: 1.1;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.m_right{
    background-color: rgb(200, 202, 204);
    border-radius: 7px;
    width: 40vw;
    margin: 20px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    height: 40vh;

}
.m_right .head{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
    gap: 20px;
}
.product_list{
    /* border: 2px solid black; */
    margin: 5px;
    height: 32vh;
   overflow-y: scroll;
   scroll-behavior: smooth;
   scrollbar-color:  rgb(28, 29, 30);
   padding: 4px;
   border-radius: 7px;
   background-color: rgb(150, 149, 148);
}
.price_cart{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    border-bottom: 2px solid rgb(145, 140, 140);
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(232, 237, 243);
}